.ionide
config.log
.deps
.libs
.env
autom4te.cache/
aclocal.m4
autoscan.log
config.status
configure
configure.scan
compile
depcomp
install-sh
ltmain.sh
Makefile
Makefile.in
missing
pam_sram_validate.so
pam_sram_validate_so*