.ionide
config.log
.deps
.libs
*.o
.env
src/autom4te.cache/
src/aclocal.m4
src/autoscan.log
src/config.status
src/config.guess
src/config.sub
src/configure
src/configure.scan
src/compile
src/depcomp
src/install-sh
src/ltmain.sh
src/Makefile
src/Makefile.in
src/missing
src/pam_sram_validate.so
src/pam_sram_validate_so*
json-parser/